.header{
    background-color: red;
    width: 100%;
    height:150px;
}
.bodyContent{
    display: flex;
}
.slideClass{
    background-color: aqua;
    width: 30%;
}
.contentClass {
    background-color: black;
    width: 70%;
    height: 300px;
}
.footerClass{
    background-color: yellow;
    width: 100%;
    height: 150px;
}